language: java
sudo: required
jdk:
- oraclejdk8
- openjdk7
services:
- docker
before_script:
- mvn jetty:run &
- sleep 5
script:
- |-
  ./ci/run_tests.sh
  if [ ${TRAVIS_BRANCH} = "master"];  then
    ./ci/create_image.sh ;
  fi

