language: java
sudo: required
jdk:
- oraclejdk8
- openjdk7
services:
- docker
before_script:
- mvn jetty:run &
- sleep 5
jobs:
  include:
    - stage: test
      script: ./ci/run_tests.sh
    - stage: publish
      script: ./ci/create_image.sh
      if: repo = Azure/azure-libararies-for-java and type = push

