{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490?api-version=2016-09-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1193",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490\",\"name\":\"981f5ac800ae490\",\"location\":\"centraluseuap\",\"properties\":{\"provisioningState\":\"Succeeded\"}}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1192",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"name\": \"nw733430\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430\",\r\n  \"etag\": \"W/\\\"3e17ccd4-b96b-4e58-8faa-e4df8c617ad3\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"4bd33b8a-c356-49e0-9cc5-5ca9d24ca513\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430/subnets/subnet1\",\r\n        \"etag\": \"W/\\\"3e17ccd4-b96b-4e58-8faa-e4df8c617ad3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/16\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/43d5a6f0-d3ea-4c83-a5c2-bee3fda37a39?api-version=2017-08-01"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/43d5a6f0-d3ea-4c83-a5c2-bee3fda37a39?api-version=2017-08-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14994",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"status\": \"InProgress\"\r\n}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-idfd846335?api-version=2015-08-31-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1191",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "location" : "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-idfd846335",
      "Body" : "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-idfd846335\",\"name\":\"msi-idfd846335\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities\",\"location\":\"centraluseuap\",\"tags\":{},\"properties\":{\"tenantId\":\"00000000-0000-0000-0000-000000000000\",\"principalId\":\"2edaa150-d038-4e90-968c-5f285f0afac0\",\"clientId\":\"c3815c39-a8a6-4616-9188-2744e8acd0e6\",\"clientSecretUrl\":\"https://control-centraluseuap.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-idfd846335/credentials?tid=00000000-0000-0000-0000-000000000000&oid=2edaa150-d038-4e90-968c-5f285f0afac0&aid=c3815c39-a8a6-4616-9188-2744e8acd0e6\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14991",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":[{\"properties\":{\"roleName\":\"Reader\",\"type\":\"BuiltInRole\",\"description\":\"Lets you view everything, but not make any changes.\",\"assignableScopes\":[\"/\"],\"permissions\":[{\"actions\":[\"*/read\"],\"notActions\":[]}],\"createdOn\":\"0001-01-01T08:00:00.0000000Z\",\"updatedOn\":\"2016-08-19T00:03:56.0652623Z\",\"createdBy\":null,\"updatedBy\":null},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"type\":\"Microsoft.Authorization/roleDefinitions\",\"name\":\"acdd72a7-3385-48ef-bd42-f606fba81ae7\"}]}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430/providers/Microsoft.Authorization/roleAssignments/f658edca-c198-4d04-a8eb-c892c6526e99?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "5",
      "x-ms-ratelimit-remaining-subscription-writes" : "1190",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"properties\":{\"roleDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"principalId\":\"2edaa150-d038-4e90-968c-5f285f0afac0\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430\",\"createdOn\":\"2017-12-12T23:57:56.2769232Z\",\"updatedOn\":\"2017-12-12T23:57:56.2769232Z\",\"createdBy\":null,\"updatedBy\":\"aa68fe9d-9eb3-422e-a498-486120394085\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430/providers/Microsoft.Authorization/roleAssignments/f658edca-c198-4d04-a8eb-c892c6526e99\",\"type\":\"Microsoft.Authorization/roleAssignments\",\"name\":\"f658edca-c198-4d04-a8eb-c892c6526e99\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/vnet320191dc5d?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1188",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application[...]
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/networkInterfaces/nicjavavm7cf563876?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1187",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"name\": \"nicjavavm7cf563876\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/networkInterfaces/nicjavavm7cf563876\",\r\n  \"etag\": \"W/\\\"d740fd05-c357-4407-90d0-d27ef7af3945\\\"\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"acfa9474-743e-4275-a032-b8b2ce7edc86\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"primary\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/networkInterfaces/nicjavavm7cf563876/ipConfigurations/primary\",\r\n        \"etag\": \"W/\\\"d740fd05-c357-4407-90d0-d27ef7af3945\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/vnet320191dc5d/subnets/subnet1\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"kfrd445zc1melgv5mkeynqnk0d.cdmx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/e7883077-6b2b-47a6-9fd7-1df78443e888?api-version=2017-08-01"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14987",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":[{\"properties\":{\"roleName\":\"Contributor\",\"type\":\"BuiltInRole\",\"description\":\"Lets you manage everything except access to resources.\",\"assignableScopes\":[\"/\"],\"permissions\":[{\"actions\":[\"*\"],\"notActions\":[\"Microsoft.Authorization/*/Delete\",\"Microsoft.Authorization/*/Write\",\"Microsoft.Authorization/elevateAccess/Action\"]}],\"createdOn\":\"0001-01-01T08:00:00.0000000Z\",\"updatedOn\":\"2016-12-14T02:04:45.1393855Z\",\"createdBy\":null,\"updatedBy\":null},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\"type\":\"Microsoft.Authorization/roleDefinitions\",\"name\":\"b24988ac-6180-42a0-ab88-20f7382dd24c\"}]}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Authorization/roleAssignments/17b59e2d-110f-4c01-ba95-1de799865276?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "5",
      "x-ms-ratelimit-remaining-subscription-writes" : "1184",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"properties\":{\"roleDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\"principalId\":\"58adef9e-0a81-4a8f-bb26-223d3c9423a9\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490\",\"createdOn\":\"2017-12-12T23:59:04.7719108Z\",\"updatedOn\":\"2017-12-12T23:59:04.7719108Z\",\"createdBy\":null,\"updatedBy\":\"aa68fe9d-9eb3-422e-a498-486120394085\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Authorization/roleAssignments/17b59e2d-110f-4c01-ba95-1de799865276\",\"type\":\"Microsoft.Authorization/roleAssignments\",\"name\":\"17b59e2d-110f-4c01-ba95-1de799865276\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm?api-version=2017-12-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1183",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"properties\": {\r\n    \"vmId\": \"2fca747a-a2ad-4ded-8592-1afcb2f4abd2\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Basic_A0\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04.0-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        }\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"javavm\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/networkInterfaces/nicjavavm7cf563876\",\"properties\":{\"primary\":true}}]},\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-idfd846335\",\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id62f89844\"\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm\",\r\n  \"name\": \"javavm\"\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/bdd9b487-b1bc-4e20-a694-34e443e27c6b?api-version=2017-12-01"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/bdd9b487-b1bc-4e20-a694-34e443e27c6b?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14986",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/GetOperation3Min;11999,Microsoft.Compute/GetOperation30Min;23999",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"startTime\": \"2017-12-12T23:59:10.6935083+00:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"bdd9b487-b1bc-4e20-a694-34e443e27c6b\"\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/bdd9b487-b1bc-4e20-a694-34e443e27c6b?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14979",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/GetOperation3Min;11977,Microsoft.Compute/GetOperation30Min;23977",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"startTime\": \"2017-12-12T23:59:10.6935083+00:00\",\r\n  \"endTime\": \"2017-12-13T00:01:24.7289376+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"bdd9b487-b1bc-4e20-a694-34e443e27c6b\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14978",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/LowCostGet3Min;4795,Microsoft.Compute/LowCostGet30Min;38380",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"properties\": {\r\n    \"vmId\": \"2fca747a-a2ad-4ded-8592-1afcb2f4abd2\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Basic_A0\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04.0-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"javavm_OsDisk_1_58452cce1bdb4023a65172330e74da9a\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/disks/javavm_OsDisk_1_58452cce1bdb4023a65172330e74da9a\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"javavm\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/networkInterfaces/nicjavavm7cf563876\",\"properties\":{\"primary\":true}}]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-idfd846335\",\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/981f5ac800ae490/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id62f89844\"\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm\",\r\n  \"name\": \"javavm\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm/extensions/ManagedIdentityExtensionForLinux?api-version=2017-12-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "x-ms-failure-cause" : "gateway",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"ResourceNotFound\",\"message\":\"The Resource 'Microsoft.Compute/virtualMachines/javavm/extensions/ManagedIdentityExtensionForLinux' under resource group '981f5ac800ae490' was not found.\"}}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm/extensions/ManagedIdentityExtensionForLinux?api-version=2017-12-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1181",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1198",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.ManagedIdentity\",\r\n    \"type\": \"ManagedIdentityExtensionForLinux\",\r\n    \"typeHandlerVersion\": \"1.0\",\r\n    \"autoUpgradeMinorVersion\": true,\r\n    \"settings\": {\"port\":50342},\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Compute/virtualMachines/javavm/extensions/ManagedIdentityExtensionForLinux\",\r\n  \"name\": \"ManagedIdentityExtensionForLinux\"\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/41d14db8-bfeb-44a5-80d1-d0a20c0d45d8?api-version=2017-12-01"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Network/virtualNetworks/nw733430/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-re[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/981f5ac800ae490/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14964",
      "StatusCode" : "200",
      "co[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODFGNUFDODAwQUU0OTAtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14963",
      "StatusCode" : "202",
      "location" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODFGNUFDODAwQUU0OTAtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODFGNUFDODAwQUU0OTAtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14933",
      "StatusCode" : "200",
      "Body" : ""
    }
  } ],
  "variables" : [ "981f5ac800ae490", "msi-idfd846335", "msi-id62f89844", "nw733430", "645fce51-277e-40a0-aea7-6495765f6f9d", "27521932-e04d-4f13-aa97-af01850545dd", "f60235cc-df90-4b8e-a1a0-3ed8babebb1d", "ea510d74-39df-4109-9b61-50622d49b4b4", "f658edca-c198-4d04-a8eb-c892c6526e99", "c048e379-8cfc-44e1-b97d-2e833024d7c1", "3a071397-bb6d-4b7e-bad9-fbd2ab7b76a1", "b9bf6218-beb5-4fe0-88f7-0dbea256e31b", "4c3cc821-1e16-49d7-846c-def45f4f3fd5", "348e49b9-01f6-40ce-bcb1-28fbf2251b88", "nicjavavm7cf563876", "b740605[...]
