{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6?api-version=2016-09-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1182",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6\",\"name\":\"27410577373b4c6\",\"location\":\"centraluseuap\",\"properties\":{\"provisioningState\":\"Succeeded\"}}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1181",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"name\": \"nw029566\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566\",\r\n  \"etag\": \"W/\\\"4ebac8cb-4478-4c08-8c58-ecfbdd53c721\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"71ec8549-d09a-41d1-ab24-65ff6c0c75ee\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566/subnets/subnet1\",\r\n        \"etag\": \"W/\\\"4ebac8cb-4478-4c08-8c58-ecfbdd53c721\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/16\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/d4366bcf-b7e8-451f-8b34-546ef20c1254?api-version=2017-08-01"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/d4366bcf-b7e8-451f-8b34-546ef20c1254?api-version=2017-08-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14930",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"status\": \"Succeeded\"\r\n}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id3da07643?api-version=2015-08-31-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1180",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "location" : "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id3da07643",
      "Body" : "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id3da07643\",\"name\":\"msi-id3da07643\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities\",\"location\":\"centraluseuap\",\"tags\":{},\"properties\":{\"tenantId\":\"00000000-0000-0000-0000-000000000000\",\"principalId\":\"91635302-3a76-49ea-9cc8-1233a9bfde33\",\"clientId\":\"f2ff4a9d-7906-47e7-926c-7b24e26749fc\",\"clientSecretUrl\":\"https://control-centraluseuap.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id3da07643/credentials?tid=00000000-0000-0000-0000-000000000000&oid=91635302-3a76-49ea-9cc8-1233a9bfde33&aid=f2ff4a9d-7906-47e7-926c-7b24e26749fc\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14928",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":[{\"properties\":{\"roleName\":\"Reader\",\"type\":\"BuiltInRole\",\"description\":\"Lets you view everything, but not make any changes.\",\"assignableScopes\":[\"/\"],\"permissions\":[{\"actions\":[\"*/read\"],\"notActions\":[]}],\"createdOn\":\"0001-01-01T08:00:00.0000000Z\",\"updatedOn\":\"2016-08-19T00:03:56.0652623Z\",\"createdBy\":null,\"updatedBy\":null},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"type\":\"Microsoft.Authorization/roleDefinitions\",\"name\":\"acdd72a7-3385-48ef-bd42-f606fba81ae7\"}]}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566/providers/Microsoft.Authorization/roleAssignments/55504272-76b1-40b2-b170-63f7cb5374ad?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "5",
      "x-ms-ratelimit-remaining-subscription-writes" : "1179",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"properties\":{\"roleDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"principalId\":\"91635302-3a76-49ea-9cc8-1233a9bfde33\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566\",\"createdOn\":\"2017-12-13T02:12:21.0615215Z\",\"updatedOn\":\"2017-12-13T02:12:21.0615215Z\",\"createdBy\":null,\"updatedBy\":\"aa68fe9d-9eb3-422e-a498-486120394085\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566/providers/Microsoft.Authorization/roleAssignments/55504272-76b1-40b2-b170-63f7cb5374ad\",\"type\":\"Microsoft.Authorization/roleAssignments\",\"name\":\"55504272-76b1-40b2-b170-63f7cb5374ad\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1178",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json;[...]
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1177",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"name\": \"internallb1-93068\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068\",\r\n  \"etag\": \"W/\\\"4b5f6335-c19c-4d0b-a8b1-b0089bb1a3ba\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5bbeda92-0c56-4255-b51b-a576b31b8061\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"internallb1-93068-FE1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/frontendIPConfigurations/internallb1-93068-FE1\",\r\n        \"etag\": \"W/\\\"4b5f6335-c19c-4d0b-a8b1-b0089bb1a3ba\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/loadBalancingRules/httpRule\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/loadBalancingRules/httpsRule\"\r\n            }\r\n          ],\r\n          \"inboundNatPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/inboundNatPools/internallb1-93068-INP1\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/inboundNatPools/internallb1-93068-INP2\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"internallb1-93068-BAP1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/backendAddressPools/internallb1-93068-BAP1\",\r\n        \"etag\": \"W/\\\"4b5f6335-c19c-4d0b-a8b1-b0089bb1a3ba\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14924",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":[{\"properties\":{\"roleName\":\"Contributor\",\"type\":\"BuiltInRole\",\"description\":\"Lets you manage everything except access to resources.\",\"assignableScopes\":[\"/\"],\"permissions\":[{\"actions\":[\"*\"],\"notActions\":[\"Microsoft.Authorization/*/Delete\",\"Microsoft.Authorization/*/Write\",\"Microsoft.Authorization/elevateAccess/Action\"]}],\"createdOn\":\"0001-01-01T08:00:00.0000000Z\",\"updatedOn\":\"2016-12-14T02:04:45.1393855Z\",\"createdBy\":null,\"updatedBy\":null},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\"type\":\"Microsoft.Authorization/roleDefinitions\",\"name\":\"b24988ac-6180-42a0-ab88-20f7382dd24c\"}]}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleAssignments/8b15f9d8-7ad2-4b63-84fc-5140862cf2d9?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "5",
      "x-ms-ratelimit-remaining-subscription-writes" : "1175",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"properties\":{\"roleDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\"principalId\":\"f3edebb8-93ce-4f16-a44a-58fb4058f4f0\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6\",\"createdOn\":\"2017-12-13T02:13:29.2605496Z\",\"updatedOn\":\"2017-12-13T02:13:29.2605496Z\",\"createdBy\":null,\"updatedBy\":\"aa68fe9d-9eb3-422e-a498-486120394085\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleAssignments/8b15f9d8-7ad2-4b63-84fc-5140862cf2d9\",\"type\":\"Microsoft.Authorization/roleAssignments\",\"name\":\"8b15f9d8-7ad2-4b63-84fc-5140862cf2d9\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Compute/virtualMachineScaleSets/javavmss?api-version=2017-12-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "4",
      "x-ms-ratelimit-remaining-subscription-writes" : "1174",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/CreateVMScaleSet3Min;39,Microsoft.Compute/CreateVMScaleSet30Min;195,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;3596",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\",\r\n      \"automaticOSUpgrade\": false\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"javavmss-vm\",\r\n        \"adminUsername\": \"jvuser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"16.04.0-LTS\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"primary-nic-cfg\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"primary-nic-ip-cfg\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/backendAddressPools/internallb1-93068-BAP1\"},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/backendAddressPools/internallb1-93068-BAP2\"}],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/inboundNatPools/internallb1-93068-INP1\"},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-93068/inboundNatPools/internallb1-93068-INP2\"}]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"properties\": {\r\n              \"publisher\": \"Microsoft.ManagedIdentity\",\r\n              \"type\": \"ManagedIdentityExtensionForLinux\",\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"settings\": {\"port\":50342}\r\n            },\r\n            \"name\": \"ManagedIdentityExtensionForLinux\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": true,\r\n    \"uniqueId\": \"8f17d686-64cb-42fd-b8d4-5a497d7be380\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id3da07643\",\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id9f904946\"\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Compute/virtualMachineScaleSets/javavmss\",\r\n  \"name\": \"javavmss\"\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/bafd7eea-17d8-4ec8-a833-3ca4645941ba?api-version=2017-12-01"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/bafd7eea-17d8-4ec8-a833-3ca4645941ba?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14923",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/GetOperation3Min;11999,Microsoft.Compute/GetOperation30Min;23973",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"startTime\": \"2017-12-13T02:13:33.7220144+00:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"bafd7eea-17d8-4ec8-a833-3ca4645941ba\"\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/bafd7eea-17d8-4ec8-a833-3ca4645941ba?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14918",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/GetOperation3Min;11986,Microsoft.Compute/GetOperation30Min;23960",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"startTime\": \"2017-12-13T02:13:33.7220144+00:00\",\r\n  \"endTime\": \"2017-12-13T02:15:43.2884685+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"bafd7eea-17d8-4ec8-a833-3ca4645941ba\"\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/nw029566/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-re[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14912",
      "StatusCode" : "200",
      "co[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi0yNzQxMDU3NzM3M0I0QzYtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14911",
      "StatusCode" : "202",
      "location" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi0yNzQxMDU3NzM3M0I0QzYtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi0yNzQxMDU3NzM3M0I0QzYtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14892",
      "StatusCode" : "200",
      "Body" : ""
    }
  } ],
  "variables" : [ "msi-id3da07643", "msi-id9f904946", "nw029566", "7937da0f-e1e6-43d6-a360-93c3a5f5591d", "fa5ad931-797e-4123-a6b6-bac18993e0db", "8d4a60d6-762e-41ca-b2ab-442652974e6f", "7c3cb9a1-b52b-4241-b844-260e03d4dd99", "55504272-76b1-40b2-b170-63f7cb5374ad", "44b50418-fb5e-4a91-8a75-755db1a83e8d", "f7b5a042-2a3f-4684-85f7-ab2929bf60f5", "e50d509d-394e-431a-b562-f104c8492f00", "fbd2683a-86d8-495e-97b7-4ada986a6492", "internallb1-93068", "fe87c662-8c8a-4e89-ae35-7b4d321c3b8a", "655c9561-290a-467b-932c-76a[...]
