{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6?api-version=2016-09-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1194",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6\",\"name\":\"27410577373b4c6\",\"location\":\"centraluseuap\",\"properties\":{\"provisioningState\":\"Succeeded\"}}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1193",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"name\": \"vmssvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet\",\r\n  \"etag\": \"W/\\\"54d7cdf5-836b-46df-b8f1-b493b78aee0d\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"9a8af6d3-930b-4963-959f-e211355cb755\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/28\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\",\r\n        \"etag\": \"W/\\\"54d7cdf5-836b-46df-b8f1-b493b78aee0d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/28\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/d6389006-3392-41be-b5dc-54d36f85611d?api-version=2017-08-01"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/d6389006-3392-41be-b5dc-54d36f85611d?api-version=2017-08-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14992",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"status\": \"Succeeded\"\r\n}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762?api-version=2017-08-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1192",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"name\": \"internallb1-19762\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762\",\r\n  \"etag\": \"W/\\\"3c075c0a-8e18-4372-a1ca-676cdd7650ac\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"aea02143-8f30-4bd9-a97f-3ee230f7c32b\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"internallb1-19762-FE1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/frontendIPConfigurations/internallb1-19762-FE1\",\r\n        \"etag\": \"W/\\\"3c075c0a-8e18-4372-a1ca-676cdd7650ac\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/loadBalancingRules/httpRule\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/loadBalancingRules/httpsRule\"\r\n            }\r\n          ],\r\n          \"inboundNatPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/inboundNatPools/internallb1-19762-INP1\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/inboundNatPools/internallb1-19762-INP2\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"internallb1-19762-BAP1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/backendAddressPools/internallb1-19762-BAP1\",\r\n        \"etag\": \"W/\\\"3c075c0a-8e18-4372-a1ca-676cdd7650ac\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \[...]
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Compute/virtualMachineScaleSets/javavmss?api-version=2017-12-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "4",
      "x-ms-ratelimit-remaining-subscription-writes" : "1191",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/CreateVMScaleSet3Min;39,Microsoft.Compute/CreateVMScaleSet30Min;199,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;3596",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\",\r\n      \"automaticOSUpgrade\": false\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"javavmss-vm\",\r\n        \"adminUsername\": \"jvuser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"16.04.0-LTS\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"primary-nic-cfg\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"primary-nic-ip-cfg\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/backendAddressPools/internallb1-19762-BAP1\"},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/backendAddressPools/internallb1-19762-BAP2\"}],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/inboundNatPools/internallb1-19762-INP1\"},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Network/loadBalancers/internallb1-19762/inboundNatPools/internallb1-19762-INP2\"}]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": true,\r\n    \"uniqueId\": \"0c36a2fe-ed3c-4ab3-9a3d-f210c7fd74d9\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Compute/virtualMachineScaleSets/javavmss\",\r\n  \"name\": \"javavmss\"\r\n}",
      "azure-asyncoperation" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/65d409c3-ef72-4951-bd6e-48ca3a51f0d1?api-version=2017-12-01"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/65d409c3-ef72-4951-bd6e-48ca3a51f0d1?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14989",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/GetOperation3Min;11999,Microsoft.Compute/GetOperation30Min;23999",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"startTime\": \"2017-12-13T01:57:50.9879585+00:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"65d409c3-ef72-4951-bd6e-48ca3a51f0d1\"\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/65d409c3-ef72-4951-bd6e-48ca3a51f0d1?api-version=2017-12-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14985",
      "StatusCode" : "200",
      "x-ms-ratelimit-remaining-resource" : "Microsoft.Compute/GetOperation3Min;11988,Microsoft.Compute/GetOperation30Min;23988",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"startTime\": \"2017-12-13T01:57:50.9879585+00:00\",\r\n  \"endTime\": \"2017-12-13T01:59:48.6309967+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"65d409c3-ef72-4951-bd6e-48ca3a51f0d1\"\r\n}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id-119473e?api-version=2015-08-31-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-ratelimit-remaining-subscription-writes" : "1190",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "location" : "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id-119473e",
      "Body" : "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id-119473e\",\"name\":\"msi-id-119473e\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities\",\"location\":\"centraluseuap\",\"tags\":{},\"properties\":{\"tenantId\":\"00000000-0000-0000-0000-000000000000\",\"principalId\":\"e8bc35b7-cf8e-47e7-a398-3494d08becf8\",\"clientId\":\"3a0ba0c3-0309-406b-9e7f-17881e5c1d2b\",\"clientSecretUrl\":\"https://control-centraluseuap.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/27410577373b4c6/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-id-119473e/credentials?tid=00000000-0000-0000-0000-000000000000&oid=e8bc35b7-cf8e-47e7-a398-3494d08becf8&aid=3a0ba0c3-0309-406b-9e7f-17881e5c1d2b\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "1",
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14980",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":[{\"properties\":{\"roleName\":\"Contributor\",\"type\":\"BuiltInRole\",\"description\":\"Lets you manage everything except access to resources.\",\"assignableScopes\":[\"/\"],\"permissions\":[{\"actions\":[\"*\"],\"notActions\":[\"Microsoft.Authorization/*/Delete\",\"Microsoft.Authorization/*/Write\",\"Microsoft.Authorization/elevateAccess/Action\"]}],\"createdOn\":\"0001-01-01T08:00:00.0000000Z\",\"updatedOn\":\"2016-12-14T02:04:45.1393855Z\",\"createdBy\":null,\"updatedBy\":null},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\"type\":\"Microsoft.Authorization/roleDefinitions\",\"name\":\"b24988ac-6180-42a0-ab88-20f7382dd24c\"}]}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleAssignments/13f2caad-b270-433e-a801-c2b819e5e2d5?api-version=2015-07-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-request-charge" : "5",
      "x-ms-ratelimit-remaining-subscription-writes" : "1189",
      "retry-after" : "0",
      "StatusCode" : "201",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"properties\":{\"roleDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\"principalId\":\"e8bc35b7-cf8e-47e7-a398-3494d08becf8\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6\",\"createdOn\":\"2017-12-13T02:01:04.3794391Z\",\"updatedOn\":\"2017-12-13T02:01:04.3794391Z\",\"createdBy\":null,\"updatedBy\":\"aa68fe9d-9eb3-422e-a498-486120394085\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/27410577373b4c6/providers/Microsoft.Authorization/roleAssignments/13f2caad-b270-433e-a801-c2b819e5e2d5\",\"type\":\"Microsoft.Authorization/roleAssignments\",\"name\":\"13f2caad-b270-433e-a801-c2b819e5e2d5\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi0yNzQxMDU3NzM3M0I0QzYtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14958",
      "StatusCode" : "202",
      "location" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi0yNzQxMDU3NzM3M0I0QzYtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi0yNzQxMDU3NzM3M0I0QzYtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "x-ms-ratelimit-remaining-subscription-reads" : "14931",
      "StatusCode" : "200",
      "Body" : ""
    }
  } ],
  "variables" : [ "27410577373b4c6", "msi-id-119473e", "msi-id-248221d", "4fea5882-bf93-4087-aed4-9165dfc41cac", "1b65fbef-4680-40c1-805e-1d12696ff093", "internallb1-19762", "7c26510f-02b0-443d-96d9-5b80558e5619", "9da90697-c415-413b-a287-cbf394c5a891", "916bcd35-5f71-4c62-a1a0-7e96afcd23cc", "ff156e7f-2c41-4d3a-b252-67394b8a5d36", "13f2caad-b270-433e-a801-c2b819e5e2d5", "c985b456-a47b-4045-94f9-0b6714abf8bb", "ef5d12fd-462b-438e-b7a6-450c8b39a207", "0b21f2f9-d004-4654-b4f4-df4863b62bd5", "e4271ce9-a0b7-478c-9833-71192a49b9b4", "67bbd453-7153-4e6c-b7b9-eed8c0452b08", "19659786-22e2-43d2-a628-6905554f7e67", "b1fc699e-4788-4557-8aeb-cf5aef434fdb", "1b44a869-4e01-4aef-940e-d7b962407834", "52128dd5-63d1-49b7-a676-b095611c0248", "bbba231c-6943-4a5c-97ee-76f116af935e" ]
}